
#always-auth=true
registry=http://65.0.204.242:8081/repository/mss-host/

//65.0.204.242:8081/repository/mss-host/:_auth=BASE64_userlogin_userlogin@321
//65.0.204.242:8081/repository/mss-host/:always-auth=true
email=sachinexplore@gmail.com
