
#always-auth=true
registry=http://65.0.204.242:8081/repository/mss-host/

//65.0.204.242:8081/repository/mss-host/:_authToken=YWRtaW46U2FjaGluQDMyMQ==
//65.0.204.242:8081/repository/mss-host/:always-auth=true
email=sachinexplore@gmail.com
